body{
    background: rgba(208, 207, 207, 0.15)
}

a,a:hover, a:focus, a:active, a.active{
    text-decoration: none;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

.user-header{
    background: #D2D2D2;
    height:300px;
}

.primary-color{
    color: #FF8F05;
}

.nav-end{
    margin-right: 10px;
}

.last-nav-ul{
    margin-left: 10px;
    border-left: 1px solid #D2D2D2;
    padding-left: 10px;

}

.page-scroll{
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.navbar-default_new .nav li a:hover, .navbar-default_new .nav li a:focus{
    background: #FF8F05;
    border-radius: 5px;
    color: white
}

.navbar-default_new .navbar-nav>.active>a{
    background: #FF8F05;
}

.main-body{
    margin-top: 120px;
}

.nav-pills>li>a{
    color: #222;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background: #FF8F05;
    color: white;
    border-bottom: none;
}

.nav-pills>li>a:hover{
    background: #ebebeb;

}

.left-panel-link {
    padding: 10px;
    color: #222;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    border-radius: 5px;
}

.left-panel-link:hover{
    background: #FF8F05;
    color: white;
}

.offer-view-all{
    margin-top: 10px;
}

.offer-item{
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover{
    background: rgba(255,143,5,0.9);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content{
    color: #222;
}

#portfolio .portfolio-item .portfolio-caption{
    background: white;
}

.shadow{
    -webkit-box-shadow: 0px 0px 15px 0px #989797;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 0px 15px 0px #989797;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 0px 15px 0px #989797;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.portfolio-caption a{
    color: #FF8F05;
}

.portfolio-caption a:hover{
    color: #b2b2b2;
}

#portfolio .portfolio-item .portfolio-caption{
    max-height: 100px;
}

.remove-margin{
    margin-right: 0px;
    margin-left: 0px;
    margin: 0;
}

.offer-top{

}

.triangle-topright-high {
    width: 0;
    height: 0;
    border-top: 120px solid #ff293a;
    border-left: 120px solid transparent;
    position: absolute;
    left: 180px;

}

.triangle-topright-low {
    width: 0;
    height: 0;
    border-top: 120px solid #61C736;
    border-left: 120px solid transparent;
    position: absolute;
    left: 180px;

}

.offer-hover{
    position: absolute;
    z-index: -1;
}

.offer-count p{
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
}

.offer-count-value{
    position: absolute;
    font-size: 3.1em;
    top: -135px;
    left: -52px;
}

.offer-count-left{
    position: absolute;
    font-size: 1.3em;
    top: -80px;
    left: -32px;

}

.offer-hover-icon{
    margin-right: 0px;
    padding-right: 0px;
}

.offer-hover-text{
    margin-left: 0px;
    padding-left: 0px;
    text-align: left;
}

.navbar-brand>img {
    display: block;
    width: 200px;
    position: relative;
    top: -20px;
}

footer{
    margin-top: 20px;
    background: white;
    -webkit-box-shadow: 0px 0px 15px 0px #989797;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 0px 15px 0px #989797;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 0px 15px 0px #989797;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    padding-top: 30px;
}

footer a{
    color: #FF8F05;
}

footer a:hover{
    color: #D2D2D2;
}

.social-buttons li{
    padding-left: 20px;
    padding-right: 20px;
}
.ad-image{
    margin-top: 10px;
}

.user-view{
    height:200px;
    background: #ffffff;
    padding-right: 20px;
    width: 97%;
}

.user-image > img{
    width: 50%;
    margin-top: 10px;
}

/* other css */
.offers{
    height:100%;
}

.offer{
    border-radius: 5px;
    background-color: white;
    min-height:100px;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.offer-row{
    height: 100%;
}

.offer-row-div{
    height: 100%;
    padding:20px;
}

.offer-image{
    max-width: 100%;
}

.offer-title{
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.offer-title:hover{
    color: #0e6f5c;
}

.offer-middle{
    padding-left: 10px;
}

.offer-desc{
    padding-top: 5px;
}

.offer-joined{
    position: absolute;
    right: 0;
    top: 0;
}

.offer-begin{
    background-color: #18bc9c;
}

.offer-end{
    background: #DA4E4E;
}

.offer-count-head, .offer-count-bottom{
    text-align: center;
    color: white;
}

.offer-count-head{
    font-size: 3em;
}

.offer-count-bottom{
    font-weight: bold;
}

.offer-out-of{
    margin: 0;
    color: white;
    text-transform: uppercase;
    font-size: 0.8em;
    text-align: center;
}

.link-small{
    font-size: 0.7em;
}

.link-normal{
    font-size: 0.9em;
}


.offer-fragment{
    background-color: white;
    margin-left: 10px;
    padding: 10px;
    color: #2c3e50;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.offer-fragment-title{
    color: #2c3e50;
    text-transform: uppercase;
    font-weight: bold;
}

.offer-fragment-block{
    margin-bottom: 10px;
}

.offer-fragment-bottom{
    background-color: #DA4E4E;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.fragment-title{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.offer-post{
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.offer-post-joined{
    background-color: #DA4E4E;
    border-radius: 5px;
    text-transform: uppercase;padding: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.offer-post-joined-row{
    padding: 0;
    padding-left: 15px;
    margin-top: 10px;
}

.offer-post-title{
    font-size: 2em;
}

.img-joiner{
    width: 50px;
    height: 50px;
    float: left;
}

.offer-joiners{
    padding-top: 15px;
}

.offer-joiners-list{
    height: 55px;
}

.view-joiners{
    text-align: left;
}

.img-joiner-view{
    max-width: 70%;
}

.offer-joiner-name{
    text-transform: uppercase;
    font-size: 2em;
    text-align: left;
    padding-left: 0px;
}

.view-left{
    padding-right: 0px;
}

.offer-joiner-loc{
    text-align: left;
}

.remove-left{
    padding-left: 0px;
}

.similar-offers > div:first-child {
    padding-top: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.similar{
    margin-left: 10px;
}

.padding-top-10{
    padding-top: 10px;
}

.padding-left-0{
    padding-left: 0px;
}

.similar-offer-count{
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #18bc9c;
    border-radius: 5px;
}

.danger{
    background-color: #DA4E4E;
}

.offer-title{
    color: #FF8F05;
}

.offer-title:hover{
    cursor: auto;
    color: #FF8F05;
}

.social-btns{
    padding-top: 15px;
    color: #FF8F05;
}

.social-btns a{
    color: #FF8F05;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.social-btns a:hover{
    color: #D2D2D2;
}

.social-btns li{
    width: 70px;
    text-align: center;
}

.offer-btn{
    background: #FF8F05;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.offer-btn:hover{
    color: #222;
    background: #D2D2D2;
}

.offer-btn-div{
    margin-bottom: 10px;
    margin-top: 15px;
}

.offer-in-div{
    padding-top: 20px;
}

.recommended{
    font-size: 1em;
    color: #222;
    margin-top: 20px;
}

.offer-page-title{
    font-size: 2em;
    color: #222;
    font-weight: bold;
}

.offer-page-title{
    margin-bottom: 0px;
}

.offer-time{
    color: #787878;
    margin-bottom: 10px;
    margin-top: -5px;
    font-size: 0.9em;
}