a,a:hover, a:focus, a:active, a.active{
    text-decoration: none;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

.user-header{
    background: #D2D2D2;
    height:300px;
}

.primary-color{
    color: #ffa405;
}

.nav-end{
    margin-right: 10px;
}

.last-nav-ul{
    margin-left: 10px;
    border-left: 1px solid #D2D2D2;
    padding-left: 10px;

}

.page-scroll{
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.navbar-default_new .nav li a:hover, .navbar-default_new .nav li a:focus{
    background: #ffa405;
    color: white;
    border-radius: 5px;
}

.main-body{
    margin-top: 120px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background: transparent;
    border-bottom: 2px solid #ffa405;
    border-radius: 0px;
    color: #222;
}

.nav-pills>li>a:hover{
    color: white;
    background: #ffa405;
}

.left-panel-link {
    padding: 10px;
    color: #222;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.left-panel-link:hover{
    background: #ffa405;
    border-radius: 5px;
    color: white;
}