@import url(http://fonts.googleapis.com/css?family=Muli);

body{

font-family: 'Muli', sans-serif;

}
 
.background_cust{
  background-color: #DFE2DB;
}

.canvas_col{
	 background-color: #FFF;
}

.headerbg{

background:url('../img/headerbg.jpg');
background-size:cover;
color:#FFFFFF;
padding:20px;


}

.mainscreen{

width:60%;

}


.section1{

padding-top:50px;
padding-bottom:50px;
padding-left:20px;
padding-right:20px;
color:#161616;

}

.screen1{

width:70%;

}

.textsection1{

margin-top:30%;

}


.section2{

padding-top:50px;
padding-bottom:50px;
padding-left:20px;
padding-right:20px;
color:#161616;

}

.screen2{

width:70%;

}

.textsection2{

margin-top:30%;

}

.supportdiv{

background:url('../img/supportbg.jpg');
background-size:cover;
color:#FFFFFF;
padding-top:40px;
padding-bottom:40px;
padding-left:20px;
padding-right:20px;

}

.supportdiv button{

background:#FFFFFF;
color:#fc3232;
height:60px;
padding:10px;
width:80%;
border-radius: 80px 80px 80px 80px;
-moz-border-radius: 80px 80px 80px 80px;
-webkit-border-radius: 80px 80px 80px 80px;
margin-top:5%;
border:none;

}

.supportdiv button:hover{

background:#fc3232;
color:#FFFFFF;

}

.footer{

background:#181818;
padding:40px;


}

.logofooter{

width:70%;

}

/* Media query's adjustement */


@media screen and (max-width: 460px) {

.logo{

width:80%;



}

.badgeappstore{

width:80%;


}

.container{
    max-width: 100;
}


}




#portfolio .portfolio-item{margin:0 0 15px;right:0}
#portfolio .portfolio-item .portfolio-link{display:block;position:relative;max-width:300px;max-height:300px;margin:0 auto}
#portfolio .portfolio-item .portfolio-link .portfolio-hover{background:rgba(254,209,54,.9);position:absolute;width:100%;height:100%;opacity:0;transition:all ease .5s;-webkit-transition:all ease .5s;-moz-transition:all ease .5s}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover{opacity:1}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content{position:absolute;width:100%;height:20px;font-size:20px;text-align:center;top:50%;margin-top:-12px;color:#fff}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i{margin-top:-12px}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4{margin:0}
#portfolio .portfolio-item .portfolio-caption{max-width:300px;max-height:70px;margin:0 auto;background-color:#DFE2DB;text-align:center;padding:25px}
#portfolio .portfolio-item .portfolio-caption h4{text-transform:none;margin:0}
#portfolio .portfolio-item .portfolio-caption p{font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;font-style:italic;font-size:16px;margin:0}
